.button {
  border: none;
  align-self: center;
  // background-color: rgba(230, 230, 230, 1);
  border-radius: 3px;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.hide {
  visibility: hidden;
  // background-color: rgb(238, 238, 238, 0.3);
  cursor: auto;
}
